html {
    background-color: rgb(173, 252, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 5px;
    border-color: black;
    border-radius: 20%;
    padding: 20px;
}

img {
    display: block;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

